<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingRandomAccessFile name="appLog" fileName="${sys:APP_LOGS}/mbrweb.log" filePattern="${sys:APP_LOGS}/mbrweb.log.%i">
			<PatternLayout>
				<Pattern>%d{ISO8601}|%t|%p|%c.%M|%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="debug" additivity="false">
			<AppenderRef ref="appLog" />
		</Logger>
		<Logger name="com.quiteharmless" level="debug" additivity="false">
			<AppenderRef ref="appLog" />
		</Logger>
<!--
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
		</Root>
-->
	</Loggers>
</Configuration>