<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="visitors">

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let visitor">{{visitor.timestamp | date : "yyyy/M/d hh:mm:ssa"}}</td>
    </ng-container>

    <ng-container matColumnDef="memberId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let visitor">{{("00000" + visitor.memberId).slice(-5)}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let visitor">{{visitor.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let visitor">{{visitor.firstName}}</td>
    </ng-container>

    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef>Notes</th>
      <td mat-cell *matCellDef="let visitor">{{visitor.notes}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{
      'background-color': row.ok ? (row.notes === '' ? '#00ff00' : '#ffff00') : '#ff0000'
    }"></tr>
  </table>
</div>
